.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  margin-bottom: 0;
  min-height: 1348px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  background-image: none;
  min-height: 59px;
  height: auto;
  margin: 131px auto 0 175px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 63px;
  height: 58px;
  margin: -3px auto 0 14px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -47px auto 0;
}

.u-section-1 .u-image-2 {
  width: 234px;
  height: 233px;
  margin: 55px auto 0 177px;
}

.u-section-1 .u-group-2 {
  width: 528px;
  min-height: 159px;
  height: auto;
  margin: -196px 167px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 11px;
  padding-right: 0;
}

.u-section-1 .u-image-3 {
  width: 30px;
  height: 30px;
  margin: 64px auto 0 130px;
}

.u-section-1 .u-image-4 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 90px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -29px auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -29px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: -28px 25px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 50px;
  height: 50px;
  margin: -104px auto 0 -25px;
}

.u-section-1 .u-image-6 {
  width: 50px;
  height: 50px;
  margin: -50px -25px 0 auto;
}

.u-section-1 .u-group-3 {
  height: auto;
  min-height: 106px;
  width: 1140px;
  margin: 126px -10px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 831px;
  margin: 34px 132px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 396px;
  width: 831px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 93px 167px 60px 249px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-1 .u-group-1 {
    min-height: 63px;
    margin-top: 122px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    width: 62px;
    height: 57px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -45px;
  }

  .u-section-1 .u-image-2 {
    transition-duration: 0.5s;
    margin-left: 90px;
  }

  .u-section-1 .u-group-2 {
    width: 514px;
    min-height: 176px;
    margin-top: -204px;
    margin-right: 77px;
    height: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 177px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -29px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -323px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 160px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 116px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 796px;
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-1 .u-text-6 {
    width: 724px;
    margin: 25px auto 46px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 67px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 68px;
    left: 10px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 75px;
  }

  .u-section-1 .u-group-2 {
    width: 282px;
    min-height: 161px;
    margin-top: -197px;
    margin-right: 78px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 11px;
    margin-left: 181px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 144px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -27px;
    margin-right: auto;
    margin-left: 71px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -105px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -50px;
  }

  .u-section-1 .u-group-3 {
    min-height: 138px;
    margin-top: 117px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 650px;
    margin-top: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -14px;
    margin-bottom: 26px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    width: 244px;
    height: 243px;
    margin-left: 26px;
  }

  .u-section-1 .u-group-2 {
    width: 218px;
    min-height: 199px;
    margin-top: -221px;
    margin-right: 27px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 14px;
    margin-left: 137px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -29px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
    margin-right: 51px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 26px;
  }

  .u-section-1 .u-image-5 {
    width: 30px;
    height: 30px;
    margin-top: -177px;
    margin-left: -15px;
  }

  .u-section-1 .u-image-6 {
    width: 30px;
    height: 30px;
    margin-top: -30px;
    margin-right: -15px;
  }

  .u-section-1 .u-group-3 {
    min-height: 131px;
    margin-top: 199px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 487px;
    margin-top: 66px;
  }

  .u-section-1 .u-text-6 {
    margin: 21px 0 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 127px;
    height: 126px;
    margin-left: 27px;
  }

  .u-section-1 .u-group-2 {
    width: 143px;
    min-height: 154px;
    margin-top: -140px;
  }

  .u-section-1 .u-image-3 {
    width: 20px;
    height: 20px;
    margin-top: 31px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -21px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 14px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -92px;
  }

  .u-section-1 .u-group-3 {
    min-height: 137px;
    margin-top: 72px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 49px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }
}